- type: job
  id: SPWarden
  name: job-name-warden
  description: job-description-warden
  playTimeTracker: JobSPWarden
  requirements:
    - !type:DepartmentTimeRequirement
      department: Maintenance
      time: 54000 # 15 hours
    - !type:DepartmentTimeRequirement
      department: SPMedical
      time: 54000 # 15 hours
    - !type:DepartmentTimeRequirement
      department: SPSecurity
      time: 108000 # 30 hrs
    - !type:DepartmentTimeRequirement
      department: SPCommand
      time: 54000 # 15 hours
  weight: 40
  startingGear: SPWardenGear
  icon: "JobIconSPWarden"
  requireAdminNotify: true
  joinNotifyCrew: true
  supervisors: job-supervisors-centcom
  canBeAntag: false
  accessGroups:
  - AllAccess
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff

- type: startingGear
  id: SPWardenGear
  equipment:
    eyes: ClothingEyesGlassesSecurity
    id: WardenPDA
    gloves: ClothingHandsGlovesCombat
    ears: ClothingHeadsetAltSecurity
    pocket1: WeaponPistolMk58
  storage:
    back:
    - Flash
    - MagazinePistol

